**/.idea
build
../venv
temp
dist
uploads
downloads
target
.idea
.DS_Store
.sass-cache
.webassets-cache
.bundle-cache
.editorconfig
.jshintrc
*.pyc
*.class
*.pdf
migrations
celerybeat-schedule.db
node_modules
celerybeat-schedule
dump.rdb
**.rdb
.vscode
.vscode/**
__pycache__
__pycache__/**
