.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Dashboard {
  background-image: url('/Dashboard.image/Dashboard 1 (1).png');
  background-size: 'contain';
  width: 100%;
  height: auto;
}
.navbar{
  width: 100vw;
  background-color:#038cfc;
  height: 50px;
  
}
.hero{
  width: 100vw;
  height: 250px;
}
.main{
  
  justify-content: center;
  
  width: 100%;
  height: 750px;
  
}
.mentor{
  top: 250px;
}
