.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.Dashboard {
  background-image: url('/Dashboard.image/Dashboard 1 (1).png');
  background-size: 'cover';
  width: 100%;
  height: auto;
  background-blend-mode: luminosity;
}

.navbar{
  width: 100vw;
  height: 50px;
  }
.app{
  color: #038cfc;
}
.hero{
  width: 100vw;
  height: 250px;
}

.hero-container{
  position: relative;
}
.container{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center; 
  color: white;
  
}
h4{
  display: flex;
  position: absolute;
  left: 80px;
  flex-direction: column;
}
.sign{
  display: flex;
  position: absolute;
  right: 20px;
  top: 480px;
}
.wrapper{
  display: flex;
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;

}
p{
  color: #038cfc;
}

.footer-title{
  background-color: blanchedalmond;

left:0;
bottom:0;
right:0;
}
.logo{
  display: flex;
  position: absolute;
}

.content-container {
  padding-top: 150px;
  margin-bottom: 150px;
  line-height: 40px;
}
.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius: 2px;
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}
.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}
.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}
#box1 {
  border: 5px solid;
  padding: 40px;
  margin: 40px 60px;
  background-color: #0275d8;
  height: 150px;
  width: 200px;
  
}
#box2 {
  border: 5px solid;
  padding: 40px;
  margin: 40px 60px;
  background-color: #0275d8;
  height: 150px;
  width: 200px;
  
  
}
#box3 {
  border: 5px solid;
  padding: 40px;
  margin: 40px 60px;
  
  background-color: #0275d8;
  height: 150px;
  width: 200px;
  
}
#box4 {
  border: 5px solid;
  padding: 40px;
  margin: 40px 60px;
  
  background-color: #0275d8;
  height: 150px;
  width: 200px;
  
}
.container-part{
  display: flex;
  position: absolute;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: left; 
  color: white;
  
}
#box1 p{
  color: white;
  font-size: 20px;
  justify-content: center;
}
#box2 p{
  color: white;
  font-size: 20px;
  justify-content: center;
}
#box3 p{
  color: white;
  font-size: 20px;
  justify-content: center;
}
#box4 p{
  color: white;
  font-size: 20px;
  justify-content: center;
}
.right-part{
  display: flex;
  flex-direction: row;
}
h3{
  display: flex;
  flex-direction: row;
}