@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

.btn-link,
a {
  color: #243b55!important;
  text-decoration: none !important;
}

.navbar {
  height: 100px;
  padding: 0 !important;
}

.card {
  border-radius: 5px !important;
  box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.03), 0 10px 10px rgba(0, 0, 0, 0.07);
  border: 0 !important;
}

.card .card-body {
  padding: 3.5rem 2.5rem;
}

.card .card-body .form-control {
  padding: 1rem;
  height: calc(1.5em + 0.75rem + 15px);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.04);
}

.card-body .card-title {
  font-size: 1.5rem;
  max-width: 300px;
}

.card.hover {
  transition: all .2s ease;
}

.card.hover:hover {
  transform: scale(1.03);
}

.course-card {
  margin-bottom: 15px;
  cursor: pointer;
}

.course-card .card-header {
  background: none;
  border: 0;
  padding: 0.3rem 0.6rem 0;
}

.course-card .card-header .btn-link {
  color: #000;
  font-weight: 500;
}

.course-card .card-body {
  padding: 0 1.3rem 1rem !important;
  color: #666;
}
