@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

.navbar {
  height: 100px;
}

.card {
  border-radius: 5px !important;
}

.card .card-body {
  padding: 3.5rem 2.5rem;
}

.card .card-body .form-control {
  padding: 1rem;
  height: calc(1.5em + 0.75rem + 15px);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.04);
}

.card-body .card-title {
  font-size: 1.5rem;
  max-width: 300px;
}
